<ion-header class="page-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'themeSelection' | translate}}</ion-title>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="currentSearch" (ionInput)="onSearch($event)" placeholder="{{'searchHolder' | translate}}"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list class="list-items ion-no-padding">
    <ion-item-group>
      <ion-item (click)="onCreateTheme()" color="secondary">{{'addThemeButton' | translate}}</ion-item>
      <ion-item *ngFor="let theme of filteredThemes" (click)="onSelectExistingTheme(theme)">
        {{theme}}
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer class="page-footer">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
