<ion-header>
  <ion-navbar>
    <ion-icon name="menu" menuToggle left></ion-icon>
    <ion-title>
      Anomalies du bâtiment
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let theme of themes | orderBy:'theme'">

      <ion-list-header color="light">
        {{theme.theme}}
        <button ion-button item-end (click)="onAddAnomalyForTheme(theme.theme)">Ajouter</button>
      </ion-list-header>

      <button ion-item *ngFor="let anomaly of theme.anomalies | orderBy:'notes'" (click)="onItemClick(anomaly.id)">
        {{anomaly.notes}}
      </button>

    </ion-item-group>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-start full type="button" (click)="onAddNewAnomaly()">
        <ion-icon name="add-circle"></ion-icon>
        Ajouter une anomalie...
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
