building-child-pictures {
  button.deleteIcon{
    position: absolute;
    right: 14px;
    background: white;
  }
  ion-card{
    height: 350px;
    width: auto;
    padding-bottom: 30px;
  }
  ion-card img{
    display:inline-block;
  }
  .swiper-pagination{
    padding-bottom: 5px;
  }
}
