<ion-header class="page-header">

  <ion-navbar>
    <ion-icon name="menu" menuToggle left></ion-icon>
    <ion-title>{{'inspectionList' | translate}}</ion-title>
  </ion-navbar>

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterList($event)"
    placeholder="{{'inspectionListSearchText' | translate}}">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="no-data-message" *ngIf="batches?.length == 0">
    <h2>{{noDataMessage}}</h2>
  </div>
  <ion-list class="list-items">
      <ion-item-group *ngFor="let batch of filteredBatches">
        <ion-item-divider>{{'inspectionBatch' | translate}} : {{batch.description}}</ion-item-divider>
        <button ion-item *ngFor="let inspection of batch.inspections" (click)="itemSelected(inspection)">
          <ion-avatar item-left style="font-size: 40px"><ion-icon name="home" [style.color]="getRiskColor(inspection.idRiskLevel)"></ion-icon></ion-avatar>
          <h2>{{inspection.address}}</h2>
          <p>{{'riskLevel' | translate}} : {{getRiskDescription(inspection.idRiskLevel)}}</p>
        </button>
      </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer class="page-footer">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
