<ion-content>
  <img class="selected-picture" [src]="imageUrl" (click)="onClickPicture()" *ngIf="hasImageUrl">
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button  (click)="selectPicture()">
        Choisir...
        <ion-icon class="footer-button-camera" name="image"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="takeNewPicture()" *ngIf="isUsingCordova">
        Nouvelle...
        <ion-icon class="footer-button-camera" name="camera"></ion-icon>
      </button>
    </ion-buttons>
    <input type="file" id="fileElem" #filePicker accept="image/*" style="display:none" (change)="onFileSelected($event);" />

    <!--<div style="display: block; width: 100px; height: 20px; overflow: hidden;">
      <button style="width: 110px; height: 30px; position: relative; top: -5px; left: -5px;"><a href="javascript: void(0)">Upload File</a></button>
      <input type="file" id="upload_input" name="upload" style="display:none" />
    </div>-->
  </ion-toolbar>
</ion-footer>
