<ion-content>
  <img class="selected-picture" [src]="imageUrl" (click)="onClickPicture()" *ngIf="hasImageUrl">
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button  (click)="selectPicture()">
        Choisir...
        <ion-icon class="footer-button-camera" name="image"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="takeNewPicture()" *ngIf="isUsingCordova">
        Nouvelle...
        <ion-icon class="footer-button-camera" name="camera"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
