<div class="div-selected-picture">
  <img class="selected-picture" [src]="imageUrl" *ngIf="hasImageUrl" imageViewer />
</div>

<ion-footer class="page-footer">
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-start (click)="selectPicture()">
        <ion-icon class="footer-button-camera" name="image"></ion-icon>
        Choisir...
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-start (click)="takeNewPicture()" *ngIf="isUsingCordova">
        <ion-icon class="footer-button-camera" name="camera"></ion-icon>
        Nouvelle...
      </button>
    </ion-buttons>
    <input type="file" id="fileElem" #filePicker accept="image/*" style="display:none" (change)="onFileSelected($event);" />
  </ion-toolbar>
</ion-footer>


