picture-viewer {
  .div-selected-picture {
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  .footer-button-camera {
    margin-left: 10px;
    font-size: 1.5em;
  }

  .selected-picture{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  button.brushIcon{
    position: absolute;
    right: 14px;
    background: white;
  }
}

.action-sheet-button {
  font-family: FontAwesome, Arial !important;
  text-align: left, right !important;
}

