page-building-particular-risks {
  .risk-header {
    .list-header {
      background-color: #737373;
      color: whitesmoke;
    }
    .segment-button {
      color: black;
      border-color: black;
    }
    .segment-button.segment-activated {
      background-color: color($colors, caucaGold);
      border-color: black;
      color: black;
    }
    .segmentRisk {
      margin-bottom: 1px;
    }
  }
  .swiper-pagination-bullet {
    background-color: color($colors, caucaGold);
    opacity: .5;
  }
  .swiper-pagination-bullet-active {
    background-color: black;
  }
}
