<ion-header class="page-header">
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="onCancelEdition()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{'anomalyDetail' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content [formGroup]="form">
    <ion-list class="list-items">
        <button ion-item [class.invalid]="!form.controls.theme.valid" (click)="onSelectAnomaly()">
            <ion-label item-start>{{'theme' | translate}}</ion-label>
            <ion-label item-content>{{form.value.theme}}</ion-label>
        </button>
        <div *ngIf="!form.controls.theme.valid" class="validation-error-text">{{'requiredInformation' | translate}}</div>

        <ion-item-group>
            <ion-item-divider>{{'notes' | translate}}</ion-item-divider>
            <ion-item [class.invalid]="!form.controls.notes.valid">
                <ion-textarea maxlength="500" formControlName="notes"></ion-textarea>
            </ion-item>
            <div *ngIf="!form.controls.notes.valid" class="validation-error-text">{{'requiredInformation' | translate}}</div>
        </ion-item-group>
    </ion-list>

    <pictures [repo]="picRepo" [saveAuto]="false" formControlName="id">{{'loading' | translate}}</pictures>
</ion-content>

<ion-footer class="page-footer">
    <ion-toolbar>
        <ion-buttons left>
            <button *ngIf="!isNew" ion-button icon-start (click)="onDeleteAnomaly()">
                <ion-icon name="trash"></ion-icon>
                {{'anomalyDelete' | translate}}
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
