.segment-fire {
    --color: black;
    --border-color: black;
    --border: 1px black solid;
    --background-checked: var(--ion-color-secondary);
    --color-checked: black;
}

.fire-protection-header {
    .list-header {
        background-color: #737373;
        color: whitesmoke;
    }

    .segment-fire-protection {
        margin-bottom: 1px;
    }
}