<ion-header>

  <ion-navbar>
    <ion-title>Questionnaire</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-slides>
    <ion-slide *ngFor="let choice of inspectionQuestion">
      <div class="question-title">
        <h2>{{CurrentQuestion.title}}</h2>
        <p>{{CurrentQuestion.description}}</p>
      </div>
      <ion-list radio-group [(ngModel)]=questionAnswer *ngIf="CurrentQuestion.questionType == 1">
        <ion-item *ngFor="let choice of CurrentQuestion.choicesList">
          <ion-label>{{choice.description}}</ion-label>
          <ion-radio [value]=choice.id></ion-radio>
        </ion-item>
      </ion-list>
      <ion-textarea [(ngModel)]=questionAnswer class="question-answer-text" *ngIf="CurrentQuestion.questionType == 2"></ion-textarea>
      <ion-datetime displayFormat="YYY/MM/DD" [(ngModel)]=questionAnswer  *ngIf="CurrentQuestion.questionType == 3"></ion-datetime>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
    <button ion-button icon-start type="button" style="float: left;" (click)="PreviousQuestion()" *ngIf="previousQuestionAvailable">
      <ion-icon name="skip-backward"></ion-icon>
      Précédente
    </button>
    <button ion-button icon-end type="button" style="float: right;" (click)="NextQuestion()" *ngIf="nextQuestionAvailable">
      Suivante
      <ion-icon name="skip-forward"></ion-icon>
    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>>
