<ion-header>

  <ion-navbar>
    <ion-title>Questionnaire</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Listes
    </ion-list-header>
    <ion-item *ngFor="let question of inspectionQuestion">
      <div>
        <h2>{{question.title}}</h2>
        <p>{{question.description}}</p>
        <br>
        <h2>Liste des choix disponibles</h2>
        <ion-list>
          <ion-item *ngFor="let choice of question.choiceList">
            <div>
              <p>{{choice.description}}</p>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
