page-building-hazardous-material-detail {
  ion-select {
    max-width: 100%;
    //min-width: 70%;
  }

  .col {
    padding: 0px;
  }

  .grid {
    padding: 0px;
  }
  .unit-select{
    width:100%;
    text-align: right;
  }
}
