<ion-header class="page-header">
    <ion-navbar>
        <ion-icon name="menu" menuToggle left></ion-icon>
        <ion-title>{{'generalInformation' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form novalidate [formGroup]="planForm" style="padding:0px; margin-top:-3px">

        <ion-list class="list-items">

            <ion-list-header>
                {{plan?.mainBuildingAddress}}
            </ion-list-header>

            <ion-item>
                <ion-label fixed>{{'risk' | translate}}</ion-label>
                <ion-input type="text" disabled value="{{riskLevel?.name}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>{{'affectation' | translate}}</ion-label>
                <ion-input type="text" disabled value="{{utilisationCodeName}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>{{'matricule' | translate}}</ion-label>
                <ion-input type="text" disabled value="{{plan?.mainBuildingMatricule}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Alias</ion-label>
                <ion-input type="text" disabled value="{{plan?.mainBuildingName}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>{{'street' | translate}}</ion-label>
                <ion-input type="text" disabled value="{{laneName}}"></ion-input>
            </ion-item>

            <search-box
                    description="{{'transversal' | translate}}"
                    formControlName="idLaneTransversal"
                    [displayFieldName]="'name'"
                    [keyFieldName]="'id'"
                    [dataService]="laneService"></search-box>
        </ion-list>
    </form>
    <ion-card>
        <ion-card-header>{{statusText}}</ion-card-header>
        <div class="refuse_reason" *ngIf="plan?.approbationRefusalReason">
            <ion-label >{{'reason' | translate}} : </ion-label>
            <ion-label>{{plan.approbationRefusalReason}}</ion-label>
        </div>
        <button *ngIf="plan?.status == inspectionDetailProvider.InspectionVisitStatusEnum.Todo" ion-button block color="caucaRed" class="large-button" (click)="startInspection()">{{'start' | translate}}</button>

        <div class="inline-button">
            <button ion-button color="caucaRed" (click)="refuseVisit()">{{'visitRefused' | translate}}</button>
            <button ion-button color="caucaRed" (click)="absentVisit()">{{'absence' | translate}}</button>
        </div>

        <button *ngIf="plan?.status == inspectionDetailProvider.InspectionVisitStatusEnum.Started" ion-button block color="caucaRed" class="large-button" (click)="completeInspection()">{{'complete' | translate}}</button>

    </ion-card>
</ion-content>
