<ion-toolbar class="user-profile">
    <ion-grid>
        <ion-row>

      <ion-col col-3>
        <div class="user-avatar">
          <img src="assets/img/logocauca-vertical.png">
        </div>
      </ion-col>

            <ion-col>
                <span ion-text class="text-white"><strong>SURVI</strong>-Prévention</span>
                <h3 ion-text class="no-margin bold text-white">{{fullName}}</h3>
            </ion-col>

            <ion-col col-3>
                <button ion-button full margin-right="2" color="light" (click)="sessionLogout()">
                    <div>
                        <ion-icon name="log-out"></ion-icon>
                        <br>
                        <label>Quitter</label>
                    </div>
                </button>

            </ion-col>

        </ion-row>

        <ion-row no-padding class="other-data">
            <ion-col no-padding class="column">
                <button ion-button icon-left small full color="light" menuClose disabled>
                    <ion-icon name="contact"></ion-icon>
                    Configuration
                </button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-toolbar>
