page-fire-hydrant {

  ion-select{
    max-width: 75%;
  }

  textarea.text-input {
    height: 20vh;
    border: 1px solid black;
    font-size: 1.5rem;
    width: 100%;
    padding: 5px;
    margin:0px -5px !important;
  }

  .custom-item-label {
    padding-left: 18px;
    font-size: 1.7rem;
    margin-bottom: 0px;
  }

  .map-label {
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    width: 100%;
  }

  .map-label span {
    width: 80%;
  }

  .map-label ion-icon {
    width: 20% !important;
    text-align: right !important;
    margin-right:1rem;
  }

  .col {
    padding: 0px;
  }

  .grid {
    padding: 0px;
  }

  .text-input{
    text-align: right;
  }

  .item-input ion-input{
    margin:0px !important;
  }

  .left-align-input .text-input{
    text-align: left;
  }

}


