page-fire-hydrant {

  ion-select{
    max-width: 75%;
  }

  textarea.text-input {
    height: 20vh;
    border: 1px solid black;
    font-size: 1.5rem;
    width: 100%;
    padding: 5px;
    margin:0px -5px !important;
  }

  .custom-item-label {
    padding-left: 18px;
    font-size: 1.7rem;
    margin-bottom: 0px;
  }

  .map-label {
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    width: 100%;
  }

  .map-label span {
    width: 80%;
  }

  .map-label ion-icon {
    width: 20% !important;
    text-align: right !important;
    margin-right:1rem;
  }

  .col {
    padding: 0px;
  }

  .grid {
    padding: 0px;
  }

  .text-input{
    text-align: right;
  }
}

.colorselect {
  .select-text {
    width: 75px;
    border-radius: 5px;
  }

  .alert-radio-inner,
  .alert-radio-icon,
  .alert-radio-label {
    display: none;
  }

  &.colorselected:before {
    content: '\2713';
    color: white;
    z-index: 999999;
    width: 100%;
    height: 100%;
    font-size: 33px;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%);
  }

  $colorsToSelect: "#000000" "#FFFFFF" "#6495ED" "#9ACD32" "#FFA500" "#FF0000" "#FFFF00" "#CB42F4";

  @each $colorOption in $colorsToSelect {
    $colorWithoutHash: str-slice($colorOption, 2, 7);

    &.color_#{$colorWithoutHash} {
      &, & .select-text {
        color: #{$colorOption};
        background-color: #{$colorOption};
      }
    }
  }
}
