page-inspection-visit {
  textarea.text-input{
    height:25vh;
    border: 1px solid black;
    font-size:15px;
    width:95%;
    padding:5px;
  }

  .large-button
  {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width:95%;
  }
}
