.active-item {
  --background: var(--ion-color-secondary-tint);
}

.menu-icon {
  color: black;
}

.menu-items {
  height: 100%;
  margin: 0;

  .item {
    &:last-child {
      --border-style: hidden;
    }
    .item-inner {
      border-color: rgba(86, 61, 124, 0.1);
      &:last-child {
        --border-style: hidden;
      }
    }
  }
}
