<ion-header class="page-header">
  <ion-navbar>
    <ion-title>{{'survey' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides>
    <ion-slide *ngFor="let question of inspectionQuestionAnswer">
      <survey-question [question]="currentQuestion" (questionAnswered)="getNextQuestionFromAnswer(data)" *ngIf="currentQuestion.questionType != 4"></survey-question>
      <parent-child-question [questions]="getChildQuestions(currentQuestion.idSurveyQuestion)" (childQuestionAnswered)="getNextQuestionFromAnswer(data)" *ngIf="currentQuestion.questionType == 4"></parent-child-question>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="page-footer">
  <ion-toolbar>
    <ion-buttons>
    <button ion-button icon-start type="button" style="float: left;" (click)="previousQuestion()" *ngIf="previousQuestionAvailable">
      <ion-icon name="skip-backward"></ion-icon>
      {{'surveyPreviousQuestion' | translate}}
    </button>
    <button ion-button icon-start type="button" style="float: right;" (click)="saveAnswer()" [disabled]="nextQuestionDisabled">
      <ion-icon name="skip-forward"></ion-icon>
      {{nextButtonTitle}}
    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>>
