<ion-header class="page-header">
    <ion-navbar>
        <ion-title>{{'survey' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <survey-question [question]="currentAnswer"
                     (questionAnswered)="getNextQuestionFromAnswer($event)"
                     (remainingQuestionResetNeeded)="deleteRemainingAnswers($event)"
                     *ngIf="currentQuestion.questionType != questionTypeEnum.groupedQuestion"></survey-question>
    <div *ngIf="currentQuestion.questionType == questionTypeEnum.groupedQuestion">

        <div class="parent-question-title">
            <h4>{{currentQuestion.title}}</h4>
            <div>
                <ion-icon name="add-circle" (click)="addNewQuestionGroup()"></ion-icon>
            </div>
        </div>
        <div *ngIf="currentQuestionAnswerList.length > 0">
            <parent-child-question *ngFor="let answer of currentQuestionAnswerList; let i = index"
                                   [groupIndex]="i"
                                   [answer]="answer"
                                   (questionAnswered)="updateGroupQuestionAnswer($event)"
                                   (groupAnswersCompleted)="getNextQuestionFromAnswer($event)"
                                   (answerGroupDeleted)="deleteChildQuestion($event)"></parent-child-question>
        </div>
        <div *ngIf="currentQuestionAnswerList.length == 0">{{currentQuestion.description}}</div>
    </div>
</ion-content>

<ion-footer class="page-footer">
    <ion-toolbar>
        <ion-buttons>
            <button ion-button icon-start type="button" style="float: left;" (click)="previousQuestion()"
                    *ngIf="previousQuestionAvailable">
                <ion-icon name="skip-backward"></ion-icon>
                {{'surveyPreviousQuestion' | translate}}
            </button>
            <button ion-button icon-start type="button" style="float: right;" (click)="nextQuestion()"
                    [disabled]="nextQuestionDisabled">
                <ion-icon name="skip-forward"></ion-icon>
                {{nextButtonTitle}}
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>>
