.segment-risk {
  --color: black;
  --border-color: black;
  --border: 1px black solid;
  --background-checked: var(--ion-color-secondary);
  --color-checked: black;
}

.risk-header {
  .list-header {
      background-color: #737373;
      color: whitesmoke;
  }

  .segment-risk {
      margin-bottom: 1px;
  }
}

.swiper-pagination-bullet {
  background-color: var(--ion-color-secondary);
  opacity: .5;
}
.swiper-pagination-bullet-active {
  background-color: black;
}