<ion-split-pane when="md" contentId="inspection-content">

  <ion-menu contentId="inspection-content" menuId="inspection-menu" id="inspectionMenu" type="push">
    <ion-header color="primary">
      <menu-profile></menu-profile>
    </ion-header>

    <ion-content no-padding class="toolbar-gradient">
      <ion-list class="menu-items ion-no-padding">
        <ion-menu-toggle auto-hide="false" *ngFor="let menuItem of menuItems">
          <ion-item class="text-menu" *ngIf="menuItem.enabled" [routerLink]="['/' + getFullUrl(menuItem.page)]"
            routerLinkActive="active-item">
            <ion-icon slot="start" [name]="menuItem.icon" class="menu-icon"></ion-icon>
            <ion-label>{{menuItem.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar color="primary" class="user-profile">
        <ion-button size="small" expand="full" color="light" routerLink="/inspections-list" routerDirection="root" replaceUrl="true">
          <ion-icon name="close-circle" slot="start"></ion-icon>
          {{'inspectionQuit' | translate}}
        </ion-button>
      </ion-toolbar>
    </ion-footer>

  </ion-menu>

  <ion-router-outlet id="inspection-content"></ion-router-outlet>

</ion-split-pane>