<ion-header>

  <ion-navbar>
    <ion-title>Détails de la voie</ion-title>
  </ion-navbar>

</ion-header>

<ion-content [formGroup]="form">

  <ion-list>
    <ion-list-header>Voie de circulation</ion-list-header>
    <search-box
      [hasValidationError]="form.get('idLane').hasError('required') ? 'validation-error-control' : null"
      [description]=""
      formControlName="idLane"
      [displayFieldName]="'name'"
      [keyFieldName]="'id'"
      [showDescription]="false"
      [dataService]="laneRepo"></search-box>
    <div *ngIf="form.get('idLane').hasError('required')" class="validation-error-text">*La voie de circulation est requise.</div>
  </ion-list>

  <ion-list>
    <ion-list-header>Direction</ion-list-header>
    <ion-item>
      <ion-select class="selected-direction" formControlName="direction">
        <ion-option *ngFor="let dir of directions" [value]="dir.id">{{dir.description | uppercase}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button type="button" (click)="onDeleteLane()">
        <ion-icon name="trash"></ion-icon>
        Supprimer la voie
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
