page-inspection-question-summary {

  .report-line {
    padding: 5px;
    border-bottom: solid lightgray 1px;
  }

  .report-line-text {
  }

  .report-line-control {
    float: right;
    vertical-align: middle;
  }

}
