<ion-header>

    <ion-navbar>
        <ion-title>Synthèse du questionnaire</ion-title>
    </ion-navbar>

</ion-header>
<ion-content class="outer-content">
    <ion-list style="padding-bottom: 5px;">
        <ion-item *ngFor="let category of inspectionQuestionSummaryCategory">
            <ion-list-header *ngIf="category.title != ''">
                {{category.title | uppercase}}
            </ion-list-header>
            <ion-list>
                <div *ngFor="let recursive of category.answerSummary; let index = index">

                    <ion-item *ngIf="recursive.isRecursive === true && recursive.recursiveAnswer.length > 0 ">
                        <ion-list>
                            <ion-item-divider>{{recursive.questionTitle}} {{index + 1}}</ion-item-divider>
                            <ion-item *ngFor="let answer of recursive.recursiveAnswer">
                                <span>{{answer.questionDescription}}</span>
                                <p>{{answer.answer}}</p>
                            </ion-item>
                        </ion-list>
                    </ion-item>

                    <ion-item *ngIf="recursive.isRecursive === false">
                        <div style="padding-left: 16px;">
                            <span>{{recursive.questionDescription}}</span>
                            <p>{{recursive.answer}}</p>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </ion-item>
    </ion-list>
</ion-content>
