<ion-header class="page-header">

    <ion-navbar>
        <ion-title>Synthèse du questionnaire</ion-title>
    </ion-navbar>

</ion-header>
<ion-content class="outer-content">
    <div class="list-items" style="padding-bottom: 5px;">
        <div *ngFor="let category of inspectionQuestionSummaryCategory">
            <ion-list-header *ngIf="category.title != ''">
                {{category.title | uppercase}}
            </ion-list-header>
                <div *ngFor="let recursive of category.answerSummary; let index = index">
                    <div *ngIf="recursive.isRecursive === true && recursive.recursiveAnswer.length > 0 ">
                        <ion-item-divider>{{recursive.questionTitle}} #{{index + 1}}</ion-item-divider>
                        <ion-list>
                            <ion-item class="recursive-item" *ngFor="let answer of recursive.recursiveAnswer">
                                <span>{{answer.questionDescription}}</span>
                                <p>{{answer.answer}}</p>
                            </ion-item>
                        </ion-list>
                    </div>

                    <ion-item *ngIf="recursive.isRecursive === false">
                        <div class="non-recursive-item">
                            <span>{{recursive.questionDescription}}</span>
                            <p>{{recursive.answer}}</p>
                        </div>
                    </ion-item>
                </div>
        </div>
    </div>
</ion-content>
