<ion-header class="page-header">
  <ion-navbar>
    <ion-title>{{'courseDetail' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list [formGroup]="form" class="list-items">
    <ion-item-divider>{{'fireStation' | translate}}</ion-item-divider>
    <ion-item [class.validation-error-control]="form.get('idFirestation').hasError('required')">
      <ion-label [hidden]="true">{{'fireStation' | translate}}</ion-label>
      <ion-select class="select-firestation" placeholder="{{'chooseFireStation' | translate}}" formControlName="idFirestation" okText="Ok" cancelText="{{'cancel' | translate}}">
        <ion-option *ngFor="let fire of firestations | orderBy:'name'" [value]="fire.id">{{fire.name}}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="form.get('idFirestation').hasError('required')" class="validation-error-text">{{'fireStationRequired' | translate}}</div>
  </ion-list>

  <ion-list class="list-items">
    <ion-item-divider>
      {{'course' | translate}}
      <button item-end ion-button (click)="onChangeOrder()" color="caucaRed">{{changeCourseAction}}</button>
    </ion-item-divider>
    <ion-item-group [reorder]="changeOrder" (ionItemReorder)="onReorderLane($event)" side="start">
      <button ion-item *ngFor="let lane of lanes | orderBy:'sequence'" (click)="onClickLane(lane.id)">{{lane.description}}</button>
    </ion-item-group>
  </ion-list>

</ion-content>

<ion-footer class="page-footer">
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-start type="button" (click)="onClickLane(null)">
        <ion-icon name="add-circle"></ion-icon>
        {{'addLaneButton' | translate}}
      </button>
      <button ion-button icon-start type="button" (click)="onDeleteCourse()" *ngIf="form.valid">
        <ion-icon name="trash"></ion-icon>
        {{'courseDetailDeleteButton' | translate}}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
