<ion-header>

  <ion-navbar>
    <ion-title>Détails du parcours</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list [formGroup]="form">
    <ion-list-header>Caserne</ion-list-header>
    <ion-item>
      <ion-select class="select-firestation" placeholder="Choisissez une caserne" formControlName="idFirestation">
        <ion-option *ngFor="let fire of controller.firestations" [value]="fire.idFirestation">{{fire.stationName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Parcours
      <button item-end ion-button (click)="onChangeOrder()">{{changeOrder ? "Terminer" : "Changer l'ordre"}}</button>
    </ion-list-header>
    <ion-item-group [reorder]="changeOrder" (ionItemReorder)="onReorderLane($event)" side="start">
      <button ion-item *ngFor="let lane of controller.courseLanes" (click)="onClickLane(lane.idInterventionPlanCourseLane)">{{lane.description}}</button>
    </ion-item-group>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button type="button" (click)="onClickLane(null)">
        <ion-icon name="add-circle"></ion-icon>
        Ajouter une voie...
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
