<ion-header>

  <ion-navbar>
    <ion-title>Détails du parcours</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list [formGroup]="form">
    <ion-list-header>Caserne</ion-list-header>
    <ion-item [class.validation-error-control]="form.get('idFirestation').hasError('required')">
      <ion-select class="select-firestation" placeholder="Choisissez une caserne" formControlName="idFirestation">
        <ion-option *ngFor="let fire of firestations | orderBy:'name'" [value]="fire.id">{{fire.name}}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="form.get('idFirestation').hasError('required')" class="validation-error-text">*La caserne est requise.</div>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Parcours
      <button item-end ion-button (click)="onChangeOrder()">{{changeOrder ? "Terminer" : "Changer l'ordre"}}</button>
    </ion-list-header>
    <ion-item-group [reorder]="changeOrder" (ionItemReorder)="onReorderLane($event)" side="start">
      <button ion-item *ngFor="let lane of courseLanes | orderBy:'sequence'" (click)="onClickLane(lane.id)">{{lane.description}}</button>
    </ion-item-group>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-start type="button" (click)="onClickLane(null)">
        <ion-icon name="add-circle"></ion-icon>
        Ajouter une voie...
      </button>
      <button ion-button icon-start type="button" (click)="onDeleteCourse()" *ngIf="form.valid">
        <ion-icon name="trash"></ion-icon>
        Supprimer le parcours
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
