<ion-header class="page-header">
  <ion-toolbar color="primary">
    <ion-title>{{'availableFireHydrantList' | translate}}</ion-title>
  </ion-toolbar>
  <ion-searchbar (ionInput)="getItems($event)" [placeholder]="'navigationSearch' | translate"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list class="list-items">
    <ion-list-header>
      {{'fireHydrants' | translate}}
    </ion-list-header>

    <ion-item detail-none *ngFor="let hydrant of filteredCityFireHydrantList | orderBy:'number'" (click)="addBuildingFireHydrant(hydrant)" detail="true">
      <ion-icon src="assets/icon/hydrant.svg" slot="start" [style.color]="hydrant.color" [style.background-color]="hydrant.color == '#FFFFFF' ? 'lightgray': null" large></ion-icon>      
        <div class="fire-hydrant-info">
          <ion-label>
            <h2>{{hydrant.number}}</h2>
            <p>{{hydrant.address | formatCoordinates}}</p>
          </ion-label>
        </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="page-footer">
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>
