<ion-header class="page-header">
  <ion-navbar>
    <ion-icon name="menu" menuToggle left></ion-icon>
    <ion-title>
      {{'buildingList' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list class="list-items">
    <ion-list-header>
      {{plan?.mainBuildingAddress}}
    </ion-list-header>
    <button ion-item *ngFor="let building of buildings" (click)="onClickBuilding(building.id, building.name)" detail-push>
      <ion-thumbnail item-start *ngIf="building.picture != null">
        <img src="data:image/jpeg;base64,{{building.picture}}">
      </ion-thumbnail>
      <h2>{{building.name}}</h2>
    </button>
  </ion-list>
</ion-content>

