<ion-toolbar class="toolbar-gradient">
  <ion-grid>

    <ion-row>

      <ion-col size="2" no-padding>       
        <div class="user-avatar">
          <img src="assets/img/logocauca-vertical.png">
        </div>
      </ion-col>

      <ion-col size="6">
        <span ion-text class="text-white"><strong>SURVI</strong>-Prévention <br> <strong>v{{version}}</strong> </span>        
      </ion-col>

      <ion-col size="4" no-padding>
        <ion-button expand="full" color="light" (click)="sessionLogout()">
          <div>
            <ion-icon name="log-out"></ion-icon>
            <br>
            <label class="log-out-button">{{'logout' | translate}}</label>
          </div>
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row align-items-center>
        <ion-text color="light">
          <p>
            <ion-icon name="contact" slot="start" color="light"></ion-icon>
          {{fullName}}
          </p>
        </ion-text>
    </ion-row>


  </ion-grid>
</ion-toolbar>